mixin cardBlog(src, alt, title, sub, desc)
    .cardBlog.text-left.col-md-6.col-12
        .cardBlog__image 
            img(src=src, alt=alt)
            i.fas.fa-link
        .cardBlog__content.mt-4
            h3.cardBlog__content--title=title 
            p.cardBlog__content--sub=sub
            p.cardBlog__content--desc=desc 
            a(href="#" class="card--link") Read more 
            