mixin cardBlog(src, alt, title, sub, desc)
    .card-blog.text-left
        .card-blog__image 
            img(src=src, alt=alt)
            i.fas.fa-link
        .card-blog__content.mt-4
            h3.card-blog__title=title 
            p.card-blog__sub=sub
            p.card-blog__desc=desc 
            a(href="#" class="card--link") Read more 
            